body
{
  width:100%;
  background-color:white;
}

#header
{
  width:50%;
  margin:0 auto 0 auto;
}

#title-image
{
  position:relative;
  top:5px;
  width:45px;
}

#title-text
{
  font-size:x-large;
}

#selections
{
  overflow:auto;
}

#bookinput
{
  width:100%;
  border: solid black 1px;
  background-color:tan;

}

#bookformerror
{

}

.book
{
  overflow:auto;
  clear:both;
}

.bookinfo
{
  padding:5px;
}

.bookremover
{
  color:red;
  float:right;
  font-weight:bold;
}

.booktitle
{
  font-size:large;
  font-weight:bold;
}

.bookauthor
{
  font-style:italic;
}

.bookcover
{
  max-width:80px;
  padding-right:5px;
  float:left;
}

.booksynopsis
{
  text-align:justify;
  font-size:medium;
  padding:5px;
  word-wrap:break-word;
}

.commenttoggle
{

}

.comments
{
  clear:both;
}

.comment
{
  word-wrap:break-word;
  font-style:italic;
}

.field
{
  font-style:italic;
  color:gray;
}

